{% extends 'home.html' %}

{% block extra_js %}
  $(document).ready(function(){
    $("#id_role").change(function(){

      var restaurantSelect = document.getElementById("id_restaurant");
      var restaurantParent = restaurantSelect.parentNode;

      var studentCheck = document.getElementById("id_is_student");
      var studentParent = studentCheck.parentNode;

      restaurantParent.style.display = "block";
      studentParent.style.display = "block";

      restaurantSelect.required = false;
      studentCheck.checked = false;
      restaurantSelect.selectedIndex = "0";

      if (this.value == "3"){
        restaurantParent.style.display = "none";
        studentParent.style.display = "none";
      }
      else if (this.value == "2"){
        restaurantSelect.required = true;
        studentParent.style.display = "none";
      }
      else if (this.value == "1"){
        restaurantParent.style.display = "none";
      }
    });
  });
{% endblock extra_js %}

{% block content2 %}

<main class="container" role='main'>

  <form method="post">

    {% csrf_token %}
    {{ form1.as_p }}
    {{ form2.as_p }}

    <button type="submit" class="btn btn-success">Guardar</button>
    <a href="{% url 'home' %}" style="margin-top: 0;" class="btn btn-primary">Cancelar</a>

  </form>

</main>

{% endblock content2 %}
