{% extends 'home.html' %}

{% block extra_js %}
  $(document).ready(function(){
    $("#id_restaurant").parent().hide();
    $("#id_is_student").parent().hide();
    $("#id_student_id").parent().hide();

    $("#id_restaurant").prop('required', 'false');
    $("#id_restaurant").prop('selectedIndex', '0');
    $("#id_is_student").prop('checked', 'false');
    $("#id_student_id").prop('required', 'false');
    $("#id_student_id").val('');

    $("#id_role").change(function(){

      $("#id_restaurant").parent().hide();
      $("#id_is_student").parent().hide();
      $("#id_student_id").parent().hide();

      $("#id_restaurant").prop('required', 'false');
      $("#id_restaurant").prop('selectedIndex', '0');
      $("#id_is_student").prop('checked', 'false');
      $("#id_student_id").prop('required', 'false');
      $("#id_student_id").val('');

      if (this.value == "3"){
      }
      else if (this.value == "2"){
        $("#id_restaurant").parent().show();
        $("#id_restaurant").prop('required', 'true');
      }
      else if (this.value == "1"){
        $("#id_is_student").prop('checked', 'false');
        $("#id_is_student").parent().show();
      }
    });

    $("#id_is_student").change(function(){
      if (this.prop('checked') == 'true'){
        $("#id_student_id").parent().show();
        $("#id_student_id").prop('required' ,'true');  
      }
      else{
        $("#id_student_id").parent().hide();
        $("#id_student_id").prop('required' ,'false');
      }
    });
  });
{% endblock extra_js %}

{% block content2 %}

<main class="container" role='main'>

  <form method="post">

    {% csrf_token %}
    {{ form1.as_p }}
    {{ form2.as_p }}

    <button type="submit" class="btn btn-success">Guardar</button>
    <a href="{% url 'home' %}" style="margin-top: 0;" class="btn btn-primary">Cancelar</a>

  </form>

</main>

{% endblock content2 %}
