{% extends 'home.html' %}

{% block extra_js %}
  $(document).ready(function(){
    $("#id_role").change(function(){
      document.getElementById("id_restaurant").parentNode.style.display = "block";
      document.getElementById("id_is_student").parentNode.style.display = "block";
      if (this.value == "3"){
        document.getElementById("id_restaurant").parentNode.style.display = "none";
        document.getElementById("id_is_student").parentNode.style.display = "none";
      }else if (this.value == "2"){
        document.getElementById("id_is_student").parentNode.style.display = "none";
      }else if (this.value == "1"){
        document.getElementById("id_restaurant").parentNode.style.display = "none";
      }
    });
  });
{% endblock extra_js %}

{% block content2 %}

<main class="container" role='main'>

  <form method="post">

    {% csrf_token %}
    {{ form1.as_p }}
    {{ form2.as_p }}

    <button type="submit" class="btn btn-success">Guardar</button>
    <a href="{% url 'home' %}" style="margin-top: 0;" class="btn btn-primary">Cancelar</a>

  </form>

</main>

{% endblock content2 %}
