{% extends 'homeClient.html' %}

{% block content2 %}

<main class="container" role='main'>
  <h2>Nombre:</h2> <h3>{{ dish.name }}</h3><br>
  <h2>Ingredientes:</h2> <h3>{{ dish.ingredients }}</h3><br>
  <h2>Imagen:</h2> <img style="height:32em; width:32em;" src="{{ dish.image.url }}" class="img-responsive"/><br>
  <h2>Descripción:</h2> <h3>{{ dish.description }}</h3><br>
  <h2>Tipo de plato:</h2> <h3>{{ dish.dish_choice }}</h3><br>
  <h2>Temperatura:</h2> <h3>{{ dish.temperature }}</h3><br>
  <h2>Restaurante:</h2> <h3>{{ dish.restaurant }}</h3><br>
</main>

{% endblock content2 %}
