{% extends 'home.html' %}

{% block content2 %}

<main class="container" role='main'>
  <h3>Nombre:</h3> <h4>{{ dish.name }}</h4>
  <h3>Ingredientes:</h3> <h4>{{ dish.ingredients }}</h4>
  <h3>Imagen:</h3> <img style="height:32em; width:32em;" src="{{ dish.image.url }}" class="img-responsive"/><br>
  <h3>Descripción:</h3> <h4>{{ dish.description }}</h4>
  <h3>Tipo de plato:</h3> <h4>{{ dish.dish_choice }}</h4>
  <h3>Temperatura:</h3> <h4>{{ dish.temperature }}</h4>
  <h3>Restaurante:</h3> <h4>{{ dish.restaurant }}</h4>
  <input class="btn btn-lg btn-primary" type=button value="Regresar" onClick="javascript:history.go(-1);">
</main>

{% endblock content2 %}
