{% extends 'base.html' %}

{% block content %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
        <li><a href="http://localhost:8000/homeAdmin/newRestaurant">Agregar Restaurante</a></li>
        <li><a href="http://localhost:8000/homeAdmin/listRestaurant">Listar Restaurantes</a></li>
        <li><a href="http://localhost:8000/homeAdmin/newUser">Agregar Usuario</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <a href="{% url 'logout' %}" class="btn btn-lg btn-danger btn-block" role="button">Cerrar Sesión</a>
    </ul>
  </div>
</nav>

{% block content2 %}

{% endblock content2 %}

{% endblock content %}
