{% extends 'home.html' %}

{% block content2 %}

<main class="container" role='main'>

  <h2>Listado de restaurantes que disponen almuerzo en linea</h2>

  <div class="panel panel-default">
    {% for restaurant in restaurants %}
    <div class="panel-heading">
      <h2 class='panel-title'>
        <a href="{% url 'selectLunch' restaurant.id %}">
        Restaurant: {{ restaurant.name }}
        </a>
      </h2>
    </div>
    {% empty %}
    <div class="panel-heading">
      <h2 class='panel-title'>
        No hay restaurantes que ofrezcan el servicio
      </h2>
    </div>
    {% endfor %}
  </div>

</main>

{% endblock content2 %}
