{% extends 'home.html' %}

{% block extra_css %}
  h2 {
    font-family: {{ restaurant.style.font }} ;
    color: {{ restaurant.style.color }} ;
  }

  h3 {
    font-family: {{ restaurant.style.font }} ;
    color: {{ restaurant.style.color }} ;
  }

  a {
    font-family: {{ restaurant.style.font }} ;
  }
{% endblock extra_css %}

{% block extra_js %}
  $(document).ready(function(){
    if ($("#tipoAlmuerzo").text() == 'Normal'){
      $("#id_include_juice").parent().hide();
      $("#id_include_dessert").parent().hide();
      $("#totalPagar").text("$ {{ normalPrice }}");
    } else{
      $("#id_include_juice").prop('checked', false);
      $("#id_include_dessert").prop('checked', false);
      $("#totalPagar").text("$ {{ executivePrice }}");
    }

    $("#id_include_dessert").click(function(){
      var total = $("#totalPagar").text();
      total = total.replace("$ ", "");
      total = parseFloat(total);
      if (this.checked){
        $("#postre").show();
        total += {{ dessertPrice }};
      } else{
        $("#postre").hide();
        total -= {{ dessertPrice }};
      }
      $("#totalPagar").text("$ " + total);
    });

    $("#id_include_juice").click(function(){
      var total = $("#totalPagar").text();
      total = total.replace("$ ", "");
      total = parseFloat(total);
      if (this.checked){
        $("#jugo").show();
        total += {{ juicePrice }};
      } else{
        $("#jugo").hide();
        total -= {{ juicePrice }};
      }
      $("#totalPagar").text("$ " + total);
    });
    
    if ("{{ profile.is_student }}" == "False"){
      $("#id_payment_1").parent().parent().hide();
    }

  });
{% endblock extra_js %}

{% block content2 %}

<main class="container" role='main'>

  <h1>Pago de almuerzo</h1>
  <h2 id='tipoAlmuerzo'>{{ tipoAlmuerzo }}</h2>

  <h3>Sopa: {{ lunch.soup }}</h3>
  <h3>Segundo: {{ lunch.main_curse }}</h3>
  {% if tipoAlmuerzo == 'Ejecutivo' %}
    <h3 id='postre'>Postre: {{ lunch.dessert }}</h3>
    <h3 id='jugo'>Jugo: {{ lunch.juice }}</h3>
  {% endif %}
  <h2 id='totalPagar'></h2>
  <h3>Almuerzos disponibles: {{ stock }}</h3>
 
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="btn btn-success">Pagar</button>
    <a href="{% url 'home' %}" style="margin-top: 0;" class="btn btn-primary">Cancelar</a>
  </form>


</main>

{% endblock content2 %}