{% extends 'home.html' %}

{% block extra_css %}
  h2 {
    font-family: {{ restaurant.style.font }} ;
    color: {{ restaurant.style.color }} ;
  }

  h3 {
    font-family: {{ restaurant.style.font }} ;
    color: {{ restaurant.style.color }} ;
  }

  a {
    font-family: {{ restaurant.style.font }} ;
  }
{% endblock extra_css %}

{% block extra_js %}
  $(document).ready(function(){
    if ($("#tipoAlmuerzo").text() == 'Normal'){
      $("#id_include_juice").parent().hide();
      $("#id_include_dessert").parent().hide();
      $("#totalPagar").text("$ 2.5");
    } else{
      $("#id_include_juice").prop('checked', false);
      $("#id_include_dessert").prop('checked', false);
      $("#totalPagar").text("$ 3.0");
    }

    $("#id_include_dessert").click(function(){
      var total = $("#totalPagar").text();
      total = total.replace("$ ", "");
      total = parseFloat(total);
      if (this.checked){
        $("#postre").show();
        total += 0.75;
      } else{
        $("#postre").hide();
        total -= 0.75;
      }
      $("#totalPagar").text("$ " + total);
    });

    $("#id_include_juice").click(function(){
      var total = $("#totalPagar").text();
      total = total.replace("$ ", "");
      total = parseFloat(total);
      if (this.checked){
        $("#jugo").show();
        total += 0.5;
      } else{
        $("#jugo").hide();
        total -= 0.5;
      }
      $("#totalPagar").text("$ " + total);
    });

  });
{% endblock extra_js %}

{% block content2 %}

<main class="container" role='main'>

  <h1>Pago de almuerzo</h1>
  <h1 id='tipoAlmuerzo'>{{ tipoAlmuerzo }}</h1>

  <h2>Sopa: {{ lunch.soup }}</h2>
  <h2>Segundo: {{ lunch.main_curse }}</h2>
  {% if tipoAlmuerzo == 'Ejecutivo' %}
    <h2 id='postre'>Postre: {{ lunch.dessert }}</h2>
    <h2 id='jugo'>Jugo: {{ lunch.juice }}</h2>
  {% endif %}
  <h2 id='totalPagar'></h2>
 
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="btn btn-success">Pagar</button>
    <a href="{% url 'home' %}" style="margin-top: 0;" class="btn btn-primary">Cancelar</a>
  </form>


</main>

{% endblock content2 %}