{% extends 'homeClient.html' %}

{% block content2 %}

<main class="container" role='main'>

  <form method="post">
    {% csrf_token %}
    Ingrese el nombre del platillo:
    <input type="text" name="dishName" required="" autofocus=""/>
    <button class="btn btn-primary" type="submit" style="margin-top: 0;">Listar</button>
  </form>

  {% if ndishes == 0 %}
    <h2 class='panel-title'>
      No hay platos para mostrar
    </h2>
  {% else %}
  <div class="panel panel-default">
    {% for dish in dishes %}
    <div class="panel-heading">
      <h2 class='panel-title'>
        Nombre: {{ dish.name }} - Restaurante: {{ dish.restaurant }}
      </h2>
    </div>
    {% endfor %}
  </div>
  {% endif %}

</main>

{% endblock content2 %}
