{% extends 'home.html' %}

{% block content2 %}

<main class="container" role='main'>

  <h2 style="font-family:{{ restaurant.style.font }}; color:{{ restaurant.style.color }};">
      Menu de {{ restaurant.name }}
  </h2>

  <h3 style="font-family:{{ restaurant.style.font }}; color:{{ restaurant.style.color }};">
    Almuerzos normales
  </h3>

  <div class="panel panel-default">
    {% for lunch in lunches %}
    <div class="panel-heading">
      <h2 class='panel-title'>
        <a href="{% url 'payLunch' lunch.id %}" style="font-family:{{ restaurant.style.font }};">
          Sopa: {{ lunch.soup }} -  Plato fuerte: {{ lunch.main_curse }}
        </a>
      </h2>
    </div>
    {% empty %}
    <div class="panel-heading">
      <h2 class='panel-title'>
        No hay menus
      </h2>
    </div>
    {% endfor %}
  </div>

  <h3 style="font-family:{{ restaurant.style.font }}; color:{{ restaurant.style.color }};">
    Menus de almuerzos ejecutivos
  </h3>

  <div class="panel panel-default">
    {% for executive in executives %}
    <div class="panel-heading">
      <h2 class='panel-title'>
        <a href="{% url 'payLunch' executive.id %}" style="font-family:{{ restaurant.style.font }};">
          Sopa: {{ executive.soup }} - Plato fuerte: {{ executive.main_curse }} - Postre: {{ executive.dessert }} ~ Jugo: {{ executive.juice }}<br>
        </a>
      </h2>
    </div>
    {% empty %}
    <div class="panel-heading">
      <h2 class='panel-title'>
        No hay menus
      </h2>
    </div>
    {% endfor %}
    </div>

</main>

{% endblock content2 %}
